<!DOCTYPE html>
<html>
<head>
    <title>The Chase Down</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="start">
    <div class="container center">
        <h1>The Chase Down</h1>
        <a href="{{ url_for('login') }}" class="btn full-width">Login</a>
        <a href="{{ url_for('register') }}" class="btn full-width">Register</a>
    </div>
</body>
</html>